-
  var about = {
    header: 'Специалисты автоподбора Green Car защитят вас от обмана',
    subheader: 'Честны со своими клиентами',
    img: 'img/about-image.png',
    text: [
      '<b>Меня зовут Алексей Белов</b> – я руководитель компании Green Car по подбору автомобилей в Тюмени. Моя главная задача – помочь вам купить хорошую машину, с которой в дальнейшем не будет проблем.',
      'Для этого я собрал команду отличных экспертов, доверяю им на 100 %: если с приобретенным с нашей помощью автомобилем возникнут какие-либо сложности – например, обнаружится факт ареста или проявится неисправность ДВС, полностью компенсируем ваши убытки. Гарантии предоставляются по договору – обязательно заключаем его с каждым клиентом.',
      '<b>Всегда готов пообщаться с вами лично. <br>Обращайтесь, если возникнут вопросы.</b>'
    ],
    buttonHref: '#',
    buttonText: 'подробнее о компании'
  }

.about#about
  .container
    h2.about__header !{about.header}
    p.about__subheader !{about.subheader}
    .about__inner
      .about__image-part
        img.about__image(src=about.img alt='')
      .about__text-part
        each text in about.text
          p !{text}
        a.about__button.btn(href=about.buttonHref) !{about.buttonText}
